<Editor>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
	<style>
		section {
			margin-bottom: 36px;
		}
		.col-4 {
			background: #c9db7b;
			min-height: 200px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid;
		}
	</style>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Row:02 - Row Heading Here</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-4" draggable="true">
					<h3>1 <span>row:01</span></h3>
				</div>
				<div class="col-4" draggable="true">
					<h3>2 <span>row:01</span></h3>
				</div>
				<div class="col-4" draggable="true">
					<h3>3 <span>row:01</span></h3>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Row:02 - Row Heading Here</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-4" draggable="true">
					<h3>1 <span>row:02</span></h3>
				</div>
				<div class="col-4" draggable="true">
					<h3>2 <span>row:02</span></h3>
				</div>
				<div class="col-4" draggable="true">
					<h3>3 <span>row:02</span></h3>
				</div>
			</div>
		</div>
	</section>
  
</Editor>
