body {
    background-color: #2a3243;
    color: #a9bcc4;
    font-family: Rubik;
    font-size: 16px;
}

.card {
    background: #000;
    text-align: center;
}
.card-body {
    padding: 40px 18px;
}
.card-title {
    color: #008eff;
    font-size: 24px;
}

.btn-circle {
    border-radius: 50%;
    margin-right: 18px;
    width: 50px;
    height: 50px;
}
.card-action {
    margin-top: 30px;
}
.btn-circle:last-child {
    margin-right: 0;
}
.verification-text {
    font-size: 18px;
}